<div class="player-wrapper">
  <svg class="pt-spinner" viewBox="0 0 100 100">
    <path class="pt-spinner-track" d="M 50,50 m 0,-44.5 a 44.5,44.5 0 1 1 0,89 a 44.5,44.5 0 1 1 0,-89"></path>
    <path class="pt-spinner-head" d="M 50,50 m 0,-44.5 a 44.5,44.5 0 1 1 0,89 a 44.5,44.5 0 1 1 0,-89" pathLength="280"
      style="stroke-dasharray: 280, 280;" [ngStyle]="{'stroke-dashoffset': circleAngle}"></path>
  </svg>
  <span class="time">
    {{ currentTime }}
  </span>
  <div class="controls">
    <div class="controls_wrapper">
      <button mat-icon-button matTooltip="Replay 10 Seconds" (click)="replay10()">
        <mat-icon>replay_10</mat-icon>
      </button>

      <button *ngIf="!isPlaying" mat-icon-button matTooltip="Play" (click)="play()">
        <mat-icon>play_arrow</mat-icon>
      </button>

      <button *ngIf="isPlaying" mat-icon-button matTooltip="Pause" (click)="pause()">
        <mat-icon>pause_circle_outline</mat-icon>
      </button>

      <button mat-icon-button matTooltip="Stop" (click)="stop()">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
  </div>
  <audio #audioElement>
    <ng-container *ngIf="playingTrack">
      <source [src]="trackPath">
    </ng-container>
  </audio>
</div>

<ng-container *ngIf="playingTrack && playingTrack.title">
  <span class="title">🎵 {{ playingTrack.artist }} - {{ playingTrack.title }} 🎵</span>
</ng-container>
