:host {
  h2 {
    font-size: 15px;
    padding: 10px;
    margin: 0;
    background: #3f51b5;
    color: white;
    font-weight: 400;
  }
  span.no-download {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
    color: #999;
  }
  ul.informations-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    clear: both;
    overflow: auto;
    span {
      float: left;
      line-height: 40px;
      display: block;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    span.label {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      font-weight: 500;
      padding-left: 10px;
      width: 30%;
    }
    span.value {
      width: 70%;
      white-space: nowrap;
      padding-right: 5px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .actions {
    margin-top: 10px;
    text-align: center;
    .action {
      float: left;
      margin-right: 20px;
    }
    mat-icon {
      transform: scale(1.3);
    }
    span {
      font-size: 12px;
    }
  }
}
