<h2>Download Informations</h2>
<ng-container *ngIf="activeTrack">
  <ul class="informations-list">
    <li *ngIf="activeTrack.link">
      <span class="label">YT-Link</span>
      <span class="value">
        <a target="_blank" href="https://youtube.com/watch?v={{ activeTrack.link }}">
          https://youtube.com/watch?v={{ activeTrack.link }}
        </a>
      </span>
    </li>
    <li *ngIf="activeTrack.link">
      <span class="label">Date added</span>
      <span class="value">{{ activeTrack.createDate | date:'dd.MM.yyyy, HH:mm:ss' }}</span>
    </li>
    <li *ngIf="activeTrack.artist">
      <span class="label">Artist</span>
      <span class="value">{{ activeTrack.artist }}</span>
    </li>
    <li *ngIf="activeTrack.title">
      <span class="label">Title</span>
      <span class="value">{{ activeTrack.title }}</span>
    </li>
    <li *ngIf="activeTrack.filePath">
      <span class="label">File</span>
      <span class="value">{{ activeTrack.filePath }}</span>
    </li>
    <li *ngIf="fileSize">
      <span class="label">Size</span>
      <span class="value">{{ fileSize }}</span>
    </li>
  </ul>
  <div class="actions">
    <div class="action">
      <button mat-icon-button matTooltip="Play track" (click)="playTrack()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <span>
        Play track
      </span>
    </div>
    <div class="action">
      <button mat-icon-button matTooltip="Delete track from list" (click)="deleteTrack()">
        <mat-icon>delete_sweep</mat-icon>
      </button>
      <span>
        Delete from list
      </span>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!activeTrack">
  <span class="no-download">Select a downloaded track</span>
</ng-container>
