<mat-toolbar color="primary">
  <span class="title">Spotifly</span>
  <button mat-icon-button matTooltip="Add new track to download" (click)="addTrack()">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
  <span class="folder">
    {{ downloadFolder }}
  </span>
  <button mat-icon-button matTooltip="Set download folder" (click)="selectFolder()">
    <mat-icon>drive_folder_upload</mat-icon>
  </button>
</mat-toolbar>
<aside class="track-list">

  <ul class="yt-table">
    <li class="header">
      <span>Date</span>
      <span>Link-Id</span>
      <span>Artist</span>
      <span>Title</span>
      <span>State</span>
    </li>
    <ng-container *ngIf="(trackList$ | async) as tracks">
    <li *ngFor="let track of tracks" (click)="activateTrack(track)" [class.activated]="track.id===activatedTrackId">
      <span>{{ track.createDate | date:'dd.MM.yyyy, HH:mm' }}</span>
      <span>{{ track.link }}</span>
      <span>{{ track.artist }}</span>
      <span>{{ track.title }}</span>
      <span>
        <app-download-status [state]="track.state" [progress]="track.progress"></app-download-status>
      </span>
    </li>
    </ng-container>
  </ul>


</aside>
<div class="seperator" cdkDrag cdkDragLockAxis="x" (cdkDragMoved)="seperatorMoved($event)"
  (cdkDragStarted)="seperatorMoveStart($event)" (cdkDragEnded)="seperatorMoveEnd($event)"></div>
<app-player></app-player>
<section class="track-details">
  <app-track-details></app-track-details>
</section>
